.Editor {
  border: 1px solid gray;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin: 5px 5px 0 5px;
  box-shadow: 0px 0px 5px 0px gray;
}

.Editor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.Editor .editor-lucky {
  background-color: rgb(159, 221, 255);
}

.Editor button {
  width: 200px;
  padding: 10px;
  cursor: pointer;
  /* 커서모양을 손가락 모양으로 바꿔줌 */
  border-radius: 10px;
  background-color: rgb(96, 146, 247);
  border-color: aliceblue;
  color: white;
}

/* List */
.List {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px gray;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.List h2 {
  text-align: center;
}

/* Item */
.Item {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}

.Item .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.Item .done {
  color: rgb(189, 189, 189);
}

.Item button {
  margin-right: 5px;
  background-color: rgb(96, 146, 247);
  border-color: aliceblue;
  color: white;
  width: 100px;
  height: 25px;
  border-radius: 10px;
}

.Luck {
  text-align: center;
  background-color: rgb(234, 255, 221);
}

.container {
  background-color: rgb(234, 255, 221);
}

.Luck button {
  margin-bottom: 18px;
  width: 200px;
  padding: 10px;
  cursor: pointer;
  /* 커서모양을 손가락 모양으로 바꿔줌 */
  border-radius: 10px;
  background-color: rgb(67, 159, 138);
  border-color: aliceblue;
}

.Luck .lucky {
  margin-bottom: 50px;
}
